<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- css style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/utility.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/editProfile.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d53d2b527f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="navbar_container">
      <div class="navbar_nav">
        <div class="navbar_brand"><h1>GRUKULAM</h1></div>
        <nav class="navbar">
          <ul>
            <li class="nav_item"><a href="">Home</a></li>
            <li class="nav_item"><a href="">About</a></li>
            <li class="nav_item"><a href="">Contact</a></li>
            <li class="nav_item"><a href="">Blog</a></li>
            
          

