<%- include('./partials/userHeader.ejs') -%>
</ul>
</nav>
</div>
</div>
    <!-- login form -->
    <section class="login_section">
      <div class="intro_message">
          <h1>Welcome to Gurkulam College Of Engineering</h1>
          <h3>Worlds number one Engineering college</h3>
      </div>
      <div class="login_form">
        <div class="form_container">
          <h1 class="form_heading">Sign Up</h1>
          <form action="/signUp" class="login_form" method="post" enctype="multipart/form-data">
            <label for="username">Username</label><br />
            <input
              type="text"
              placeholder="Enter the username"
              name="username"
              id="username"
              oninput="userCheck()"
            /><br />
            <p id="name_length_error" class="d-none">*Minimum 2 character required</p>
            <label for="email">Email</label><br />
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter your email"
              oninput="emailCheck();"
            /><br />
            <p id="email_error" class="d-none">*Enter a valid email</p>
            <label for="password">Password</label><br />
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Enter your password"
              oninput="passwordCheck();"
            /><br />
            <p id="password_error" class="d-none"></p><br>
            <label for="rePassword">Re-Password</label><br />
            <input
              type="rePassword"
              name="rePassword"
              id="rePassword"
              placeholder="Re-enter your password"
              oninput="rePasswordCheck();"
            /><br />
            <p id="repassword_error" class="d-none"></p>
            <label for="avatar">photo</label>
            <input type="file" id="avatar" class="file" name="avatar">
            <div class="btn_div"><button type="submit" onclick="return validate();">Sign Up</button></div>
          </form>
        </div>
      </div>
  </section>

  <script>
      let Uname = false,pswd=false,rePswd=false,Uemail=false;

      const nameError = document.getElementById('name_error');
      const emailError = document.getElementById('email_error');
      const passwordError = document.getElementById('password_error');
      const emailPattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

      function userCheck(){
        const username = document.getElementById('username');
        const name_length_error = document.getElementById('name_length_error');
        if(username.value.length >= 2 || username.value===""){
          name_length_error.classList.add("d-none");
          username.classList.remove("border_alert");
          Uname = true;
        }else{
          name_length_error.classList.remove("d-none")
          username.classList.add("border_alert");
          Uname=false;
        }
      }

      function emailCheck(){
        const email = document.getElementById('email');
        const email_error = document.getElementById('email_error');
        if(emailPattern.test(email.value)|| email.value===""){
          email.classList.remove("border_alert");
          email_error.classList.add('d-none');
          Uemail=true;
        }else{
          email_error.classList.remove('d-none');
          email.classList.add("border_alert");
          Uemail=false;
        }
      }

      function passwordCheck(){
        const password = document.getElementById('password');
        const password_error =document.getElementById('password_error');
        if(/[a-z]/g.test(password.value) && /[A-Z]/g.test(password.value) && /[0-9]/g.test(password.value) && password.value.length>=8 || password.value === ""){
          password_error.classList.add('d-none');
          password.classList.remove("border_alert");
          rePassword.removeAttribute('readonly');
          pswd=true;
        }else if(!/[a-z]/g.test(password.value)){
          password_error.textContent="small letter required";
          password_error.classList.remove('d-none');
          password.classList.add("border_alert");
          pswd=false
        }else if(!/[A-Z]/g.test(password.value)){
          password_error.textContent="capital letter required";
          password_error.classList.remove('d-none');
          password.classList.add("border_alert");
          pswd=false
        }else if(!/[0-9]/g.test(password.value)){
          password_error.textContent="number required";
          password_error.classList.remove('d-none');
          password.classList.add("border_alert");
          pswd=false
        }else if(password.value.length<8 ){
          password_error.textContent="minimum 8 characters required";
          password_error.classList.remove('d-none');
          password.classList.add("border_alert");
          pswd=false
        }
      }
      
      function rePasswordCheck(){
        const password =document.getElementById('password').value;
        const rePassword = document.getElementById('rePassword');
        const repassword_error =document.getElementById('repassword_error');
        if(pswd!==true){
          rePassword.setAttribute('readonly',true);
          repassword_error.classList.remove('d-none');
          repassword_error.textContent="Enter the password first";
          rePassword.classList.add("border_alert");
          rePswd=false;
        }else{
          repassword_error.classList.add('d-none');
          rePassword.classList.remove("border_alert");
          rePswd=true;
        }
        if(password !== rePassword.value){
          repassword_error.classList.remove('d-none');
          repassword_error.textContent="Password don't match";
          rePassword.classList.add("border_alert");
          rePswd=false;
        }else{
          repassword_error.classList.add('d-none');
          rePassword.classList.remove("border_alert");
          rePswd=true;
        }  
      }
   function validate(){
    let required=true;
    const inputs = document.getElementsByTagName('input');
    const errors =document.getElementsByTagName('p');
    for(i=0; i<inputs.length; i++){
      if(inputs[i].value===""){
        errors[i].classList.remove('d-none');
        errors[i].textContent="*this field is required";
        required=false;
      }
    }

    if(Uname && Uemail && pswd && rePswd && required){
      return true;
    }else{
      return false;
    }
   }
  </script>

  <%- include('./partials/footer.ejs') -%>
