.table_container{
    padding-top: 50px;
    min-height: 804px;
    background-color: #fff;
    padding-bottom: 50px;
}
.SearchForm_container{
    width: 80%;
    margin: 0px auto;
    margin-bottom: 30px;
    padding-left: 20px;
}
.SearchForm_container input{
    height: 35px;
    font-size: 18px;
    padding-left: 8px;
}
.SearchForm_container button{
    background-color: green;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 36px;
    padding: 0px 10px;
}
.SearchForm_container input:focus{
    outline: none;
}
table{
    box-shadow: 0px 0px 18px black;
    background-color: #fff;
    width: 80%;
    margin: 0px auto;
    border-radius: 15px;
}
table,td,th{
    border: 1px solid rgb(220, 219, 219);
    border-collapse:collapse ;
}
table{
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
td,th{
    height: 60px;
    text-align: center;
}
th{
    font-size: 20px;
    background-color: yellow;
    border-top: none;
}
th:first-child{
    border-top-left-radius: 15px;
}
th:last-child{
    border-top-right-radius:15px;
}
tr:hover{
    background-color: rgb(0, 179, 255);
}
tr:first-child:hover{
    background-color: #fff;
}
tr:last-child{
border-radius: 20px;
}
.edit_btn,.delete_btn{
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.623);
    transition: all .4s ease-in;
}
.edit_btn{
    background-color: green;
    color: #fff;
}
.delete_btn{
    background-color: red;
    color: #fff;
}
.edit_btn:active,.delete_btn:active{
    transform: scale(.98);
}